@(title: String)(building: models.Building)
<!--所有小区的展示-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@title</title>
    <link href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" rel="stylesheet">
    <link href="@routes.Assets.versioned("stylesheets/heroic-features.css")" rel="stylesheet">
</head>
<body>
    @general.header()

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 hero-feature">
                <div class="row">
                    <div class="col-md-12 col-sm-12 hero-feature">
                        <h3>@building.getBuildingKind().getName()</h3>
                        <p>
                            @building.getDescription()
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 hero-feature">
                        <div class="thumbnail">
                            <img src="@{val path = building.getImg(); routes.Assets.versioned("images/" + path)}" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="visible-xs-block">
                <hr>
            </div>

            <div class="col-md-8 col-sm-8 hero-feature">
                <div class="row">
                    @for(house <- building.getHouses()) {
                        @if(house.getState().getName().equals("未售出")) {
                            <div class="col-md-offset-1 col-md-5 col-sm-5 col-xs-5 hero-feature">
                                <div class="thumbnail">
                                    <img src="@{val path = house.getImg(); routes.Assets.versioned("images/" + path)}" alt="">
                                    <div class="caption">
                                        <p>
                                            <a href="@controllers.frontend.routes.Application.house(house.getId())" class="btn-lg btn btn-primary btn-block">详情</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>

        <hr>

        @general.footer()

    </div>
    <!-- /.container -->

    @general.import_js()

</body>
</html>
