@(title: String)(house: models.House)
<!--购买某间房-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@title</title>
    <link href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" rel="stylesheet">
    <link href="@routes.Assets.versioned("stylesheets/heroic-features.css")" rel="stylesheet">
    <link rel="shortcut icon" href=@routes.Assets.versioned("images/icon.png")?v=2">
</head>
<body>
    @general.header()

    <div class="container">
        <div class="row text-right">
            <div class="col-md-4 col-sm-4 hero-feature">
                <h3>@house.getBuildingId().getArea().getName() - @house.getBuildingId().getBuildingKind().getName() [@house.getState().getName()]</h3>
            </div>
            <div class="col-md-2 col-sm-3 hero-feature">
                <h3> <button class="btn btn-default btn-block" id="help-btn">需要帮助</button></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 hero-feature">
                <div class="thumbnail">
                    <img src="@{val path = house.getImg(); routes.Assets.versioned("images/" + path)}" alt="">
                </div>
            </div>
            <div class="col-md-8 col-sm-8  hero-feature">
                <h4>简介:</h4>
                <strong><p>@house.getBuildingId().getDescription()</p></strong>
                <hr>
                <h4>详情:</h4>
                <strong><p>面积: @house.getSpace() 平方米</p></strong>
                <strong><p>楼层: @house.getFloor() 层</p></strong>
                <strong><p>价格: @house.getPricePerSM() 每平,  成交均价 @{val price = house.getPricePerSM() * house.getSpace() / 10000; price} 万</p></strong>
                <p>
                    @house.getState().getName() match {
                        case "已售出" => {
                            <button type="button"
                                    class="btn btn-primary btn-block"
                                    data-toggle="modal"
                                    data-target="#buy-modal"
                                    disabled="disabled">

                                已售出
                            </button>
                        }

                        case "未售出" => {
                            <button type="button"
                                    class="btn btn-primary btn-block"
                                    data-toggle="modal"
                                    data-target="#buy-modal">

                                预订
                            </button>
                        }

                        case "已预订" => {
                            <button type="button"
                                    class="btn btn-primary btn-block"
                                    data-toggle="modal"
                                    data-target="#buy-modal"
                                    disabled="disabled">

                                已预订
                            </button>
                        }
                        case "预订已处理" => {
                            <button type="button"
                                    class="btn btn-primary btn-block"
                                    data-toggle="modal"
                                    data-target="#buy-modal"
                                    disabled="disabled">

                                已预订
                            </button>
                        }
                    }
                </p>
            </div>
        </div>
        <!-- /.row -->

        <hr>
        <!-- Modal -->
        <div class="modal fade" id="buy-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">预订</h4>
                    </div>
                    <div class="modal-body">
                        @helper.form(action = controllers.frontend.routes.Application.order(house.getId()), 'id -> "buy-house", 'class -> "form-horizontal") {
                            <div class="form-group">
                                <label for="identifier"class="col-sm-2 control-label">身份证</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="identifier" placeholder="身份证" required="required" pattern="^(\d{15}$|^\d{18}$|^\d{17}(\d|X|x))$">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">姓名</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="name" placeholder="姓名" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone" class="col-sm-2 control-label">电话号码</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="phone" placeholder="电话号码" required="required" pattern="((\d{11})|^((\d{7,8})|(\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})-(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1})|(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1}))$)">
                                </div>
                            </div>
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button id="buy-buy-buy" data-link="@controllers.frontend.routes.Application.order(house.getId())" type="submit" form="buy-house" class="btn btn-primary">预定</button>
                    </div>
                </div>
            </div>
        </div>

        @general.footer()

    </div>
    <!-- /.container -->

    @general.import_js()
    <script>
        $("#buy-house").submit(function (event) {
            console.log("submit");
            event.preventDefault();
            event.stopPropagation();

            $.ajax({
                url: "@controllers.frontend.routes.Application.order(house.getId())",
                method: "POST",
                dataType: "json",
                data: function () {
                    return [
                        "phone=" + encodeURIComponent($("#phone").val()),
                        "identifier=" + encodeURIComponent($("#identifier").val()),
                        "name=" + encodeURIComponent($("#name").val())
                    ].join("&");
                }(),
                success: function (data, textStatus, jqXHR) {
                    console.log(data);
                    console.log(textStatus);

                    alert("预定成功!");
                    setTimeout(function () {
                        $("#buy-modal").modal('hide');
                        location.reload(true);
                    }, 500);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("非常抱歉, 预定出现错误了");
                    setTimeout(function () {
                        $("#buy-modal").modal('hide');
                    }, 300);
                }
            });
        });

        $("#help-btn").click(_ => alert("如需帮助,请拨打电话xxxxxxx"));
    </script>
</body>
</html>
