@(title: String)(areas: List[Area])(buildingKinds: List[BuildingKind])

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@title</title>

    <link href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" rel="stylesheet">
    <link href="@routes.Assets.versioned("stylesheets/heroic-features.css")" rel="stylesheet">

</head>

<body>
<!-- Jumbotron Header -->
    <header class="jumbotron">
        <div class="container">
            <h1>A Warm Welcome!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
            <p><a class="btn btn-primary btn-large">Call to action!</a>
            </p>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">
        @helper.form(action = controllers.frontend.routes.Application.search) {
            <div class="row">
                <div class="col-md-offset-6 col-md-2 col-sm-3 hero-feature">
                    <select class="form-control" name="building_kind" required>
                        @for(kind <- buildingKinds) {
                        <option value="@kind.getId()">@kind.getName()</option>
                        }
                    </select>
                </div>
                <div class="col-md-2 col-sm-4 hero-feature">
                    <select class="form-control" name="space" required>
                        <option value="<100">100 以下</option>
                        <option value="100_140">100 - 140</option>
                        <option value="140_200">140 - 200</option>
                        <option value=">200">200 以上</option>
                    </select>
                </div>
                <div class="col-md-2 col-sm-4 hero-feature">
                    <button type="submit" class="btn btn-primary btn-block">搜索</button>
                </div>
            </div>
        }

        <!-- Page Features -->
        <div class="row text-center">
            @for(area <- areas) {
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="@{val path = area.getImg(); routes.Assets.versioned("images/" + path)}" alt="">
                    <div class="caption">
                        <h3>@area.getName()</h3>
                        <p>@area.getDescription()</p>
                        <p>
                            <a href="#" class="btn btn-primary">买买买!</a> <a href="#" class="btn btn-default">更多信息</a>
                        </p>
                    </div>
                </div>
            </div>
            }
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; 卖房子 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

   @general.import_js()

</body>
</html>
