<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- jQuery -->
<script src="@routes.Assets.versioned("javascripts/jquery.js")"></script>

<!-- Bootstrap Core JavaScript -->
<script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>

<!-- Morris Charts JavaScript -->
<script src="@routes.Assets.versioned("javascripts/plugins/morris/raphael.min.js")"></script>
<script src="@routes.Assets.versioned("javascripts/plugins/morris/morris.min.js")"></script>
<script src="@routes.Assets.versioned("javascripts/plugins/morris/morris-data.js")"></script>

<!-- Flot Charts JavaScript -->
    <!--[if lte IE 8]><script src="js/excanvas.min.js"></script>
<![endif]-->

<script src="@routes.Assets.versioned("javascripts/plugins/flot/jquery.flot.js")"></script>
<script src="@routes.Assets.versioned("javascripts/plugins/flot/jquery.flot.tooltip.min.js")"></script>
<script src="@routes.Assets.versioned("javascripts/plugins/flot/jquery.flot.resize.js")"></script>
<script src="@routes.Assets.versioned("javascripts//plugins/flot/jquery.flot.pie.js")"></script>
<script src="@routes.Assets.versioned("javascripts//plugins/flot/flot-data.js")"></script>