<!-- Bootstrap Core CSS -->
<link href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" rel="stylesheet">

<!-- Custom CSS -->
<link href="@routes.Assets.versioned("stylesheets/sb-admin.css")" rel="stylesheet">

<!-- Morris Charts CSS -->
<link href="@routes.Assets.versioned("stylesheets/plugins/morris.css")" rel="stylesheet">

<!-- Custom Fonts -->
<link href="@routes.Assets.versioned("stylesheets/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css">

<link href="@routes.Assets.versioned("stylesheets/login.css")" rel="stylesheet">

<link rel="shortcut icon" href=@routes.Assets.versioned("images/icon.png")?v=2">