@(title: String)(user: models.Admin)
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@title</title>

    @*
     *  import js and css
     *@

    @general.import_css()
    @general.import_js()

    <style>
        .chart {
            height: 600px;
        }
    </style>
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            @general.navbar(title)(user)

            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            @* import sidebar *@
            @general.sidebar("charts")
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            图表
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="@controllers.backend.routes.Dashboard.index">控制台</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-bar-chart-o"></i> 图表
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> 销售情况饼状图</h3>
                            </div>
                            <div class="panel-body">
                                <div id="chart-1" class="chart"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> 最近销量图</h3>
                            </div>
                            <div class="panel-body">
                                <div id="chart-2" class="chart"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> 销售情况</h3>
                            </div>
                            <div class="panel-body">
                                <div id="chart-3" class="chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <script src="@routes.Assets.versioned("javascripts/charts.js")"></script>
</body>
</html>
