@(title: String)(user: models.Admin)
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@title</title>

    @*
    *  import js and css
    *@
    @general.import_css()
    @general.import_js()

    <style>
        .content {
            min-height: 800px;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            @general.navbar(title)(user)

            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            @* import sidebar *@
            @general.sidebar("info")
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row content">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1 class="page-header">
                                    个人信息与设置
                                </h1>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 text-left">
                                <div class="panel panel-default">
                                    <div class="panel-heading">信息</div>
                                    @helper.form(action = controllers.backend.routes.Info.change, 'id -> "fuck-change", 'class -> "form-horizontal") {
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <label for="sfz" class="col-sm-2 control-label">身份证</label>
                                                <div class="col-sm-10">
                                                    <input name="sfz" value="@user.getSfz()" type="text" class="form-control" id="sfz" placeholder="身份证" required="required" pattern="^(\d{15}$|^\d{18}$|^\d{17}(\d|X|x))$">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="username" class="col-sm-2 control-label">用户名</label>
                                                <div class="col-sm-10">
                                                    <input name="username" value="@user.getUsername()" type="text" class="form-control" id="username" placeholder="用户名" required="required">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="password" class="col-sm-2 control-label">新密码</label>
                                                <div class="col-sm-10">
                                                    <input name="password" type="password" class="form-control" id="password" placeholder="新密码" required="required">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="password" class="col-sm-2 control-label">密码确认</label>
                                                <div class="col-sm-10">
                                                    <input name="password_again" type="password" class="form-control" id="password-again" placeholder="确认密码" required="required">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="phone" class="col-sm-2 control-label">电话号码</label>
                                                <div class="col-sm-10">
                                                    <input name="phone" value="@user.getTelephone()" type="text" class="form-control" id="phone" placeholder="电话号码" required="required" pattern="((\d{11})|^((\d{7,8})|(\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})-(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1})|(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1}))$)">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <div class="row text-right">
                                                <div class="col-md-12">
                                                    <button type="submit" class="btn btn-default">修改</button>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /#wrapper -->

    <script>
        $("#fuck-change").submit(function (event) {
            event.preventDefault();
            event.stopPropagation();

            $.ajax({
                url: "@controllers.backend.routes.Info.change",
                method: "POST",
                dataType: "json",
                data: function () {
                    return [
                        "phone=" + encodeURIComponent($("#phone").val()),
                        "sfz=" + encodeURIComponent($("#sfz").val()),
                        "username=" + encodeURIComponent($("#username").val()),
                        "password=" + encodeURIComponent($("#password").val()),
                        "password_again=" + encodeURIComponent($("#password-again").val())
                    ].join("&");
                }(),
                success: function (data, textStatus, jqXHR) {
                    alert("修改成功");
                    location.href = "@controllers.backend.routes.Info.index";
                },
                error: function (jqXHR, textStatus, errorThrown) {
                   alert("修改失败");
                }
            });
        });

    </script>
</body>
</html>
