@(title: String)(myForm: Form[form.AdminForm])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@title</title>

    @* import css *@
    @general.import_css()
    <link href="@routes.Assets.versioned("stylesheets/login.css")" rel="stylesheet">
</head>
<body>
    <div class="login-page">
        <div class="form">
            @helper.form(action = controllers.backend.routes.Auth.login, 'class -> "login-form", 'id -> "fake-login") {
                <h3><label>房地产开发与销售信息管理系统</label></h3>
                <hr>
                <input type="text" placeholder="用户名" name="username" required="required" pattern="^[\S]{4,12}$"/>
                <input type="password" placeholder="密码" name="password" required="required" pattern="^[a-zA-Z0-9]{6,12}$"/>
                <button style="font-size: 17px;">登录</button>
            }
        </div>
    </div>


    @* import js *@
    @general.import_js()

    <script>
      $('.message a').click(function(){
         $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
      });
    </script>
    <script>
        $("#fake-login").submit(function (event) {
            event.preventDefault();
            event.stopPropagation();

            $.ajax({
                url: "@controllers.backend.routes.Auth.login",
                method: "POST",
                dataType: "json",
                data: $("#fake-login").serialize(),
                success: function (data, textStatus, jqXHR) {
                    location.href = "@controllers.backend.routes.Dashboard.index";
                },
                error: function (jqXHR, textStatus, errorThrown) {
                   alert("用户名或密码错误");
                   $("input").val("");
                }
            });
        });
    </script>
</body>
</html>
