@(title: String)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@title</title>

    @* import css *@
    @general.import_css()
</head>
<body>
    <div class="login-page">
        <div class="form">
            <form class="login-form" action="/dashboard/login" method="POST">
                <input type="text" placeholder="username" name="username"/>
                <input type="password" placeholder="password" name="password"/>
                <button>login</button>
                <p class="message">Not registered? <a href="#">Create an account</a></p>
            </form>
        </div>
    </div>


    @* import js *@
    @general.import_js()

    <script>
      $('.message a').click(function(){
         $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
      });
    </script>
</body>
</html>
